.footer {
    background-color: black;
    color: white;
    min-height: 432px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto;
    justify-items: center;
}

.footer .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.footer .direccion {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.footer .contacto {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

@media (max-width: 800px) {
    .footer {
        grid-template-columns: auto;
    }
}